NEXT_PUBLIC_API_URL=http://localhost:3000/api
DATABASE_URL="postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:5432/postgres?sslmode=verify-full&sslrootcert=./prisma/prod-ca-2021.crt"
DIRECT_URL="postgresql://postgres:[password]@db.[project-ref].supabase.co:5432/postgres?sslmode=verify-full&sslrootcert=./prisma/prod-ca-2021.crt"
JWT_SECRET="change-me-in-production"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
